{%extends "_layout.html"%} {%block content%} {%if user_profile.is_private%}
<div style="display: flex; flex-direction: row; margin: 5vh 0 0 5vw;">
  <img
    src="{{user_profile.image_path}}"
    alt=""
    style="width: 200px;height: 200px; border-radius: 50%; text-align: center; "
  />
  <p style="margin: 5vh 0 0 5vw ; font-size: 25px;">
    {{user_profile.username}}
  </p>
</div>

<div
  style="display: flex; justify-content: center; flex-direction: row; margin: 5vh 0 0 0;"
>
  <p style="font-size: 25px; text-align: center;">
    This account is private
  </p>
</div>

<div
  style="display: flex; justify-content: center; flex-direction: row; margin: 1vh 0 0 0;"
>
  <p style="font-size: 20px; text-align: center;">
    Follow this user to see their photos and videos
  </p>
</div>

{%else%}

<div style="display: flex; flex-direction: row; margin: 5vh 0 0 5vw;">
  <img
    src="{{user_profile.image_path}}"
    alt=""
    style="width: 200px;height: 200px; border-radius: 50%; text-align: center; "
  />
  <p style="margin: 5vh 0 0 5vw ; font-size: 25px;">
    {{user_profile.username}}
  </p>
</div>

<div style="margin: 5vh 0 0 0;">
  <div
    style="display: flex;flex-direction: row; justify-content: space-around; margin: auto;"
  >
    {%for i in img%}
    <div>
      <img
        src="{{i.image_path}}"
        alt=""
        style="width: 30vw;height: 30vw; margin: 1vw; object-fit: cover;"
      />
    </div>
    {% endfor %}
  </div>
</div>

{%endif%} {%endblock%}
