{%extends "_layout.html"%} {%block content%} {%if user_profile.is_private and
not following %}

<!-- private profile -->

<div style="background-color: #fafafa;min-height: 105vh;">
  <div
    style="display: flex; flex-direction: row; margin: 0vh 0 0 5vw; padding: 5vh 0 0 0;"
  >
    <img
      src="{{user_profile.image_path}}"
      alt=""
      style="width: 200px;height: 200px; border-radius: 50%; text-align: center; "
    />
    <div style="display: flex;flex-direction: column;">
      <div style="display: flex; flex-direction: row;">
        <p style="margin: 1vh 0 0 5vw ; font-size: 35px; font-weight: 100;">
          {{user_profile.username}}
        </p>
        <form
          action="{{url_for('users.follow', username=user_profile.username)}}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button
            style="width: 90px; height: 30px; border-radius: 4px; cursor: pointer; background-color: #3897f0; color: white; margin: 3vh 0 0 7vw; border: none; outline: none;"
          >
            Follow
          </button>
        </form>
      </div>
      <div style="display: flex;flex-direction: row; margin: 1vh 0 0 5vw;">
        <p style="font-size: 18px;">{{img|length}}</p>
        <p style="margin: 0 0 0 0.5vw; font-size: 18px;font-weight: 300 ;">
          Post
        </p>
        <p style="font-size: 18px;margin: 0 0 0 8vw;">
          {{user_profile.followers |length}}
        </p>
        <p style="margin: 0 0 0 0.5vw; font-size: 18px;font-weight: 300;">
          Followers
        </p>
        <p style="font-size: 18px;margin: 0 0 0 8vw;">
          {{user_profile.following |length}}
        </p>
        <p style="margin: 0 0 0 0.5vw;font-size: 18px;font-weight: 300;">
          Following
        </p>
      </div>
      <div>
        <p style="font-size: 18px; margin: 0 0 0 5vw;">{{user_profile.name}}</p>
      </div>
    </div>
  </div>

  <div
    style="display: flex; justify-content: center; flex-direction: row; margin: 5vh 0 0 0;"
  >
    <p style="font-size: 25px; text-align: center;">
      This account is private
    </p>
  </div>

  <div
    style="display: flex; justify-content: center; flex-direction: row; margin: 1vh 0 0 0;"
  >
    <p style="font-size: 20px; text-align: center;">
      Follow this user to see their photos and videos
    </p>
  </div>
</div>
{%else%}
<!-- public profile -->
<style>
  #Follow_button:hover span {
    display: none;
  }
  #Follow_button:hover:before {
    content: "Unfollow";
  }
</style>
<div style="background-color: #fafafa;min-height: 105vh;">
  <div
    style="display: flex; flex-direction: row; margin: 0vh 0 0 5vw; padding: 5vh 0 0 0;"
  >
    <img
      src="{{user_profile.image_path}}"
      alt=""
      style="width: 200px;height: 200px; border-radius: 50%; text-align: center; "
    />

    <div style="display: flex; flex-direction: column;">
      <div style="display: flex; flex-direction: row;">
        <p style="margin: 1vh 0 0 5vw ; font-size: 35px; font-weight: 100;">
          {{user_profile.username}}
        </p>

        {% if following %}
        <form
          action="{{url_for('users.unfollow', username=user_profile.username)}}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button
            id="Follow_button"
            style="width: 90px; height: 30px; border-radius: 4px; cursor: pointer; background-color: white; color: black; margin: 3vh 0 0 7vw; border: none;border-color: #b3b3b3; border-style: solid;border-width: 1px;"
          >
            <span>Following</span>
          </button>
        </form>
        {% else %}
        <form
          action="{{url_for('users.follow', username=user_profile.username)}}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button
            style="width: 90px; height: 30px; border-radius: 4px; cursor: pointer; background-color: #3897f0; color: white; margin: 3vh 0 0 7vw; border: none;outline: none;"
          >
            Follow
          </button>
        </form>
        {% endif %}
      </div>
      <div style="display: flex;flex-direction: row; margin: 1vh 0 0 5vw;">
        <p style="font-size: 18px;">{{img|length}}</p>
        <p style="margin: 0 0 0 0.5vw; font-size: 18px;font-weight: 300 ;">
          Post
        </p>
        <p style="font-size: 18px;margin: 0 0 0 8vw;">
          {{user_profile.followers |length}}
        </p>
        <p style="margin: 0 0 0 0.5vw; font-size: 18px;font-weight: 300;">
          Followers
        </p>
        <p style="font-size: 18px;margin: 0 0 0 8vw;">
          {{user_profile.following |length}}
        </p>
        <p style="margin: 0 0 0 0.5vw;font-size: 18px;font-weight: 300;">
          Following
        </p>
      </div>
      <div>
        <p style="font-size: 18px; margin: 0 0 0 5vw;">{{user_profile.name}}</p>
      </div>
    </div>
  </div>

  <div style="margin: 5vh 0 0 0;">
    <div
      style="display: flex;flex-direction: row; justify-content: space-around; margin: auto;"
    >
      {%if img | length < 1 %}
      <p style="font-size: 25px; text-align: center;">
        No posts yet
      </p>
      {%else%} {%for i in img%}
      <div>
        <img
          src="{{i.image_path}}"
          alt=""
          style="width: 30vw;height: 30vw; margin: 1vw; object-fit: cover;"
        />
        <script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
        <div id="dropin-container"></div>

        <form action="{{url_for('payment.new_payment', img_id = i.id)}}">
          <button
            id="submit-button"
            style="width: 30vw;height: 40px; margin: 1vw; border-radius: 4px; background-color: #007BFF; color: white; cursor: pointer; border: none;"
          >
            Donate
          </button>
        </form>
      </div>
      {% endfor %} {%endif%}
    </div>
  </div>
</div>
{%endif%} {%endblock%}
