<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='image/favicon.ico') }}"
    />

    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %} {% assets "home_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %} {% block header %} {% endblock %}

    <title>
      {% block title %} {% endblock %}Nextagram
    </title>
  </head>
  <body>
    {% block navbar %}

    <nav
      style="display: flex; flex-direction: row;padding: 2vh 2vw 1vh 2vw; justify-content: space-between;"
    >
      <div style="display: flex; flex-direction: row;">
        <a href="{{url_for('home')}}">
          <p style="cursor: pointer;">Home instagram icon</p>
        </a>
      </div>
      <div>
        <form action="{{url_for('users.search')}}">
          <input
            name="search_username"
            type="text"
            style="border-radius: 4px; border-style: solid; border-width: 1px;border-color: #d3d3dd;  outline: none; text-align: center; font-size: 17px; color: #393939;"
            placeholder="search"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder='search'"
          />
        </form>
      </div>
      <div style="display: flex; flex-direction: row;">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('users.show', username = current_user.username)}}"
          ><p style="margin: 0 2vw 0 0;">My Profile</p></a
        >

        <form action="{{url_for('sessions.delete')}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
          <button
            type="submit"
            style="margin: 0 1vw 0 0 ; border: none; color: #007BFF; cursor: pointer;"
          >
            <p>Sign out</p>
          </button>
          <a href="{{url_for('users.show', username = current_user.username)}}">
            <img
              src="{{current_user.profile_image}}"
              alt="Profile image"
              style="width: 30px; height: 30px; border-radius: 50%; margin: 0 0vw 0 0;cursor: pointer;"
            />
          </a>
        </form>

        {%else %}
        <a href="{{url_for('sessions.new')}}">
          <p style="margin: 0 2vw 0 0;">Login</p>
        </a>
        <a href="{{url_for('users.new')}}">
          <p>Sign Up</p>
        </a>
        {% endif%}
      </div>
    </nav>

    {% endblock %} {% with messages = get_flashed_messages() %} {% if messages
    %} {% for message in messages %}
    <p style="margin: 2vh 0 0 5vw; color: #ed4956;">{{ message }}</p>
    {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
    <!-- <footer>
      Made with &hearts; at
      <a
        target="_blank"
        href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram"
        >NEXT Academy</a
      >
    </footer> -->
  </body>
</html>
