{% extends '_layout.html' %} {%block navbar%} {%endblock%} {%block content%}
<h1>Payment</h1>
<script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>

<div id="dropin-container"></div>

<form
  id="123"
  action="{{url_for('payment.payment', img_id = img_id)}}"
  method="POST"
>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <input type="number" name="amount" />
  <input type="hidden" name="nonce" id="nonce" />
</form>

<button type="submit" id="submit-button">Donate 1</button>

<script>
  var button = document.querySelector("#submit-button");

  braintree.dropin.create(
    {
      authorization: "{{client_token}}",
      container: "#dropin-container"
    },
    function(createErr, instance) {
      button.addEventListener("click", function() {
        instance.requestPaymentMethod(function(err, payload) {
          console.log(payload.nonce);
          document.getElementById("nonce").value = payload.nonce;
          document.getElementById("123").submit();
        });
      });
    }
  );
</script>

{%endblock%}
